h1 {
  font-size: 26px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  margin: 30px auto;
  max-width: 600px;
  margin-top: 60px;
  border: 1px solid;
  border-radius: 7px;
  padding: 20px;
  font-family: "Amatic SC", cursive;
  font-weight: 500;
  font-size: 28px;
  background: radial-gradient(
    905px at 4.9% 85.8%,
    rgb(255, 243, 242) 0.1%,
    rgb(255, 247, 220) 57.6%
  );
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-temp {
  font-size: 12px;
}
